ol {
    list-style: none;
    text-align: center;
    font-family: Arial;
    border-left: 7px solid #F2F2F2;
    border-right: 7px solid #F2F2F2;
    width: 17%;
    padding: 0;
    color:#486386;
    font-weight: bolder;
    padding-top: 7px;
    padding-bottom: 7px;
}

li {
    border: 1px solid #F2F2F2;
    padding: 10px;
}

ol li:hover {
    background: #527AB7;
    color: #ffffff;
}