#z1 {margin-left:10px;}
#z2 {margin-left:-25px;}
#z3 {margin-left:100px;}
#z4 {margin-left:-20px;}
#z5 {margin-left:-20px;}
#z6 {margin-left:100px;}
#z7 {margin-left:-100px;}
#z8 {margin-left:-100px;}
#z9 {margin-left:50px;}
#z10 {margin-left:0px;}
#z11 {margin-left:-120px;}
#z12 {margin-left:100px;}
#z13 {margin-left:-50px;}
#z14 {margin-left:-120px;}
