body {
    background-color: black;
    position: absolute;
    top: 50px;
    left: 50px
}

div {
    background: linear-gradient(to top,#696969, #D3D3D3,#696969);
    width: 80px;
    height: 25px;
    margin: 20px;
     position: absolute;
    top: 50px;
    left: 50px;
    z-index: 100;

}

div:after {
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 1px;
    left: 70px;
    top: 10px;
    z-index: 1;
}

body:hover div:after {
    transition: all 1.5s;
    width: 190px;
    background-color: white;
    border-radius: 5%;
    box-shadow: 0 0 5px 4px #FDFCFC, 0 0 5px 8px #FE0303, 0 0 15px 14px #FE0303;
}