.main {
    width: 700px;
    height: 500px;
    min-width: 600px;
}

.title {
    height: 40px;
    text-align: center;
    background: lightblue;
    font-family: Lucida console;
    color: darkblue;
    font-size: 20px;
    font-weight: bolder;
    padding-top: 20px;
}

.aside {
    width: 140px;
    height: 330px;
    background: #F0E68C;
    float: left;
}

.aside {
    font-weight: bolder;
    font-family: Trebuchet MS;
    padding: 20px;
    float: left;
}

li {
    font-family: Trebuchet MS;
    margin-left: -25px;
}

a:hover {
    color: red;
}

.content {
    width: 520px;
    height: 370px;
    float: left;
    background: url("https://thumb.ibb.co/mUCLQ6/icons8_soccer_ball_filled_50.png") right repeat-y;
}

.title1 {
    width: 440px;
    font-weight: bolder;
    text-align: center;
    font-family: Trebuchet MS;
    font-size: 18px;
    padding-top: 10px;
    float: left;
}

.image {
    margin: 15px;
    float: left;
}

.content1 {
    margin: 40px 50px 0 15px;
}

.title2 {
    height: 40px;
    width: 700px;
    text-align: center;
    background: lightblue;
    font-family: Lucida console;
    color: darkblue;
    font-size: 20px;
    font-weight: bolder;
    padding-top: 20px;
    float: left;
}