.black {
    background: #A95C3D;
}

.white {background: #D9B98F; }

.column>div {
    width: 7vmin;
    height: 7vmin;
    border: solid 1px black;
    display: inline-block;
    text-align-last: center;
    margin-right: -5px;
    font-weight: bold;
    font-size: 5vmin;
}

.column1>div {
    margin-top: -5px;
    width: 7vmin;
    height: 7vmin;
    border: 1px solid black;
    display: inline-block;
    text-align-last: center;
    margin-right: -5px;
    font-weight: bold;
    font-size: 5vmin;
}

.hos {
    vertical-align: top;
}

.rook1 {
    background-image: url(../img/chess.png);
    background-repeat: no-repeat;
    width: 7vmin;
    height: 7vmin;
    background-size: calc(300vmin / 7);
    background-position: 40% 0%;
}

.pesh1 {
    background-image: url(../img/chess.png);
    background-repeat: no-repeat;
    width: 7vmin;
    height: 7vmin;
    background-size: calc(300vmin / 7);
    background-position: 105% 0%;
}

.rook2 {
    background-image: url(../img/chess.png);
    background-repeat: no-repeat;
    width: 7vmin;
    height: 7vmin;
    background-size: calc(300vmin / 7);
    background-position: 40% 105%;
}

.pesh2 {
    background-image: url(../img/chess.png);
    background-repeat: no-repeat;
    width: 7vmin;
    height: 7vmin;
    background-size: calc(300vmin / 7);
    background-position: 105% 105%;
}


.el2 {
    background-image: url(../img/chess.png);
    background-repeat: no-repeat;
    width: 7vmin;
    height: 7vmin;
    background-size: calc(300vmin / 7);
    background-position: 61% 105%;
}


.king2 {
    background-image: url(../img/chess.png);
    background-repeat: no-repeat;
    width: 7vmin;
    height: 7vmin;
    background-size: calc(300vmin / 7);
    background-position: 19% 105%;
}

.queen2 {
    background-image: url(../img/chess.png);
    background-repeat: no-repeat;
    width: 7vmin;
    height: 7vmin;
    background-size: calc(300vmin / 7);
    background-position: 0% 105%;
}


.horse1 {
    background-image: url(../img/chess.png);
    background-repeat: no-repeat;
    width: 7vmin;
    height: 7vmin;
    background-size: calc(300vmin / 7);
    background-position: 84% 0;
}

.el1 {
    background-image: url(../img/chess.png);
    background-repeat: no-repeat;
    width: 7vmin;
    height: 7vmin;
    background-size: calc(300vmin / 7);
    background-position: 61% 0;
}



.king1 {
    background-image: url(../img/chess.png);
    background-repeat: no-repeat;
    width: 7vmin;
    height: 7vmin;
    background-size: calc(300vmin / 7);
    background-position: 19% 0;
}

.queen1 {
    background-image: url(../img/chess.png);
    background-repeat: no-repeat;
    width: 7vmin;
    height: 7vmin;
    background-size: calc(300vmin / 7);
    background-position: 0% 0;
}

.king2 {
    background-image: url(../img/chess.png);
    background-repeat: no-repeat;
    width: 7vmin;
    height: 7vmin;
    background-size: calc(300vmin / 7);
    background-position: 19% 105%;
}

.horse2 {
    background-image: url(../img/chess.png);
    background-repeat: no-repeat;
    width: 7vmin;
    height: 7vmin;
    background-size: calc(300vmin / 7);
    background-position: 84% 105%;
}