.row {
    position: relative;
    height: 20px;
    width: 40px;
    top: 10px;
    left: 10px;
}

.first, .second, .third {
    position: absolute;
}

.first {
    left: 0;
}

.second {
    left: 15px;
}

.third {
    left: 30px;
}